// Import the initial variables
@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Add a serif family
$family-serif: "Merriweather", "Georgia", serif

$primary: #ffecb3 !default
$link: #0066ff !default
$info: #ffd24d !default
$success: #00cc00 !default
$warning: #dd6666 !default
$danger: #ff3333 !default

$primary-invert: findColorInvert($primary) !default
$link-invert: findColorInvert($link) !default
$info-invert: findColorInvert($info) !default
$success-invert: findColorInvert($success) !default
$warning-invert: findColorInvert($warning) !default
$danger-invert: findColorInvert($danger) !default
$footer-background-color: #ffdf80 !default

// Use the new serif family
$family-primary: $family-serif

// Import the rest of Bulma
@import "bulma/sass/utilities/_all"
@import "bulma/sass/base/all"
@import "bulma/sass/elements/_all"
@import "bulma/sass/components/all"
@import "bulma/sass/grid/_all"
@import "bulma/sass/layout/_all"
@import "bulma/sass/helpers/_all"

.enlargeable-image
  cursor: zoom-in